.register {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  h1 {
    color: white;
  }
  div {
    text-align: left;
    div {
      margin: 15px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      div {
        margin: 0px;
      }
      label {
        margin-right: 10px;
        color: white;
      }
      input {
        align-self: flex-end;
      }
    }
  }
  align-self: center;
  button {
    width: 80px;
    margin-right: 20px;
    border: none;
    border-radius: 5px;
    padding: 10px;
  }
  select {
    width: 170px;
  }
}
