.looming-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../../images/background.png");
  background-size: cover;
  height: 100%;
  form {
    margin-bottom: 10px;
  }
}
