.App {
  background-image: url("../src/images/background.png");
  background-size: cover;
  height: 100vh;
}
.center {
  display: flex;
  justify-content: center;

  align-items: center;

  padding-top: 40px;

  padding-bottom: 40px;
}

.user-form {
  background-color: #b0c4e0;
  padding: 40px;
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px 17px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 17px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 17px 0px rgba(0, 0, 0, 0.75);
}

.field {
  display: flex;

  justify-content: space-between;

  margin-bottom: 15px;
}
